# Ignore visual studio code files
.vscode/

# OS X formatting files to ignore
.DS_Store

# Ignore original datasets
winemag-data_first150k.csv
winemag-data-130k-v2.csv

# jupyter notebook checkpoints
.ipynb_checkpoints/